{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="video-background">
  <div class="video-wrap">
    <div id="video">
      <video id="bgvid" autoplay loop muted playsinline>
        <source src="{% static 'video/cover-video.mp4' %}" type="video/mp4">
      </video>
    </div>
  </div>
</div>

<div class="caption text-center">
  <h1>Welcome To Trips</h1>
  <h5>Come See what we have to offer</h5>
  <div class="row text-center">
    <div class="col-12">
      <a href="{% url 'products' %}" class="btn btn-outline-light btn-cta btn-cta--alt">Visit Store</a>
      {% if not user.is_authenticated %}
      <a href="{% url 'login' %}" class="btn btn-outline-light btn-cta">Login</a>
      {% endif %}
    </div>
  </div>
  
</div>

<div class="container">

  <div class="categories text-center">
    <div class="row header">
      <div class="col-sm-12">
        <h3 class="category-header">What would you like to do?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div class="category sports">
          <div class="category-image" >
            <a href="{% url 'products' %}?name-or-location-contains=&category-filter=1&country=&sort-by=&datepicker=">
              <img src="{% static 'images/sports-final.jpg' %}" alt="Sports category">
            </a>
          </div>
          <p  class="category-text"><a href="{% url 'products' %}?name-or-location-contains=&category-filter=1&country=&sort-by=&datepicker=">Sports</a></p>
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="category relax">
          <div class="category-image">
            <a href="{% url 'products' %}?name-or-location-contains=&category-filter=2&country=&sort-by=&datepicker=">
              <img src="{% static 'images/relax-final.jpg' %}" alt="Relax category">
            </a>
          </div>
          <p class="category-text"><a href="{% url 'products' %}?name-or-location-contains=&category-filter=2&country=&sort-by=&datepicker=">Relax</a></p>
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="category outdoors">
          <div class="category-image">
            <a href="{% url 'products' %}?name-or-location-contains=&category-filter=3&country=&sort-by=&datepicker=">
              <img src="{% static 'images/outdoors-final.jpg' %}" alt="outdoors category">
            </a>
          </div>
          <p class="category-text"> <a href="{% url 'products' %}?name-or-location-contains=&category-filter=3&country=&sort-by=&datepicker=">Outdoors</a></p>
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="category something-else">
          <div class="category-image">
            <a href="{% url 'products' %}">
              <img src="{% static 'images/something-else-final.jpg' %}" alt="something else category">
            </a>
          </div>
          <p class="category-text"><a href="{% url 'products' %}">Other</a></p>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}