.card {
    margin: 10% auto;
    width: 20rem;

    @include media(medium){
        width: 47rem;
       }

    &-top {
        margin-bottom: 8%;
        
        @include media(medium){
            margin-bottom: 2%;
           }

        &-img {
            width: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            height: 16rem;
        }
    }

    &-mid {
        margin-bottom: 8%;

        @include media(medium){
            margin-bottom: 4%;
           }
    }

    &-head {
        padding-left: 0;

        span {
            font-size: 0.9rem;
            font-weight: 540;
        }
    }

    &-title {
        margin-bottom: 1%;
    }
    &-text {
        line-height: 24px;
        word-wrap: break-word;

    }

    &-location {
        padding: 0;
        text-transform: capitalize;
    }

    &-price {
        font-size: 1.3rem;
        font-weight: 500;
    }

    &-right {
        @include media(large){
            text-align: right;
           }
    }


    &-comment {
        border: 1px solid #a59b9b;
        border-radius: 20px;
        padding: 4%;

        .header {
            font-weight: 500;
        }

        .blue {
            color: #5895d2;
            margin-top: 5%;
            margin-left: 5%;
        }
    }

    form {
        border: 1px solid #a59b9b;
        border-radius: 20px;
        padding: 4%;

        label {
            font-weight: 500;
        }
    }

    &-create {
        border: none !important;

        .like-btn {
            display: block;
            margin-bottom: 10%;
            font-weight: 500;

            i {
                font-size: 2rem;
                margin-left: 2%;
            }

            i:hover {
                color: #91b6da;
            }

            i.liked{
                color: #5895d2;
            }
        }

        .checkbox {
            display: none;
        }
       
    }

}