.card {
    margin: 10% auto;
    width: 20rem;

    &--cart {
        @include media(medium) {
            margin: 4% auto;
        }
    }

    @include media(medium) {
        width: 47rem;
    }

    &-top {
        margin-bottom: 8%;

        @include media(medium) {
            margin-bottom: 2%;
        }

        &-img {
            width: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            height: 16rem;
        }
    }

    &-mid {
        margin-bottom: 8%;

        @include media(medium) {
            margin-bottom: 4%;
        }
    }

    &-head {
        padding-left: 0;

        span {
            font-size: 0.9rem;
        }
    }

    &-title {
        margin-bottom: 1%;
    }

    &-text {
        line-height: 24px;
        word-wrap: break-word;

    }

    &-location {
        padding: 0;
        text-transform: capitalize;
    }

    &-price {
        font-size: 1.3rem;
        font-weight: 500;
    }

    &-right {
        @include media(large) {
            text-align: right;
        }
    }


    &-comment {
        border: 1px solid #a59b9b;
        border-radius: 20px;
        padding: 4%;
        margin-top: 12%;
        margin-bottom: 10%;

        @include media(large) {
            margin-top: 4%;
            margin-bottom: 4%;
        }

        .header {
            font-weight: 500;
        }

        .blue {
            color: #5895d2;
            margin-top: 5%;
            margin-left: 5%;
        }
    }

    form {
        border: 1px solid #a59b9b;
        border-radius: 20px;
        padding: 4%;

        label {
            font-weight: 500;
        }
    }

    &-create {
        border: none !important;
        margin-top: 10%;

        @include media(large) {
            margin-top: 4%;
        }

        form {
            margin-left: auto;
            margin-right: auto;
        }

        .like-btn {
            display: block;
            margin-bottom: 10%;
            font-weight: 500;

            i {
                font-size: 2rem;
                margin-left: 2%;
            }

            i:hover {
                color: #91b6da;
            }

            i.liked {
                color: #5895d2;
            }
        }

        .checkbox {
            display: none;
        }

    }

    .item {
        margin-bottom: 10%;
        font-weight: 500;
        font-size: 1rem;

        @include media(large) {
            padding: 4%;
            margin-bottom: 0;
        }

        .form-container {
            margin-top: 7%;

            @include media(large) {
                margin-top: 3%;
            }

            form {
                padding: 8%;

                @include media(large) {
                    width: 42%;
                    padding: 2%;
                }

                input {
                    margin: 0 10% 0 3%;
                    width: 10%;
                }

                button {
                    margin-left: 10%;
                }
            }
        }

        &-price {
            font-size: 1.2rem;
        }

        &-amount {
            border: 1px solid black;
            width: 30px;
            height: 30px;
            margin-right: 5%;
        }

        .qty {
            padding: 5% 0;
        }

    }

    &-order {
        padding: 0 4% 0 4%;
        margin-top: 8%;
        margin-bottom: 8%;

        @include media(large) {
            width: 40%;
            margin-top: 4%;
            margin-bottom: 4%;
        }
    }

    &-login {
        padding: 4%;

        @include media(large) {
            margin-top: 2%;
            margin-bottom: 4%;
        }

        form {
            border: none;
        }

        a {
            margin-top: 3%;
        }
    }

}

.cart-btn {
    margin-bottom: 6%;
    width: 12rem;
    height: 3rem;

    @include media(large) {
        margin-bottom: 1%;
    }
    
}