.pagination {

    &-set {

        display: flex;

        #pagination {
            margin-left: auto;
            margin-right: auto;
        }

    }

    .page {

        &-item {

            &.active {

               .page-link {
                background-color: #7EBDC3;
                border: 1px solid #7EBDC3;
                color: white;
               } 

            }

            &.disabled {

                .page-link {
                    color: #9c9797;
                }
                
            }

            .page-link {
                color: #505962;
            }
            .page-link:hover {
                background-color: #cbebef;
            }
        }
    }
}