.filters {
    form {
        margin: 0 auto;
    }

    #cat-form {
        margin-top: 2%;
        margin-left: 4%;
        margin-right: 4%;

        .form-group {

            label {
                font-weight: 500;
            }
        }
    }

    &-container {
        display: none;

        @include media(large) {
            display: initial;
        }
    }
    

}

#show-filters {
    margin: 6% auto 4%;
    width: auto;

    @include media(large) {
        display: none;
    }
}

