{% extends 'base.html' %}
{% load static %}
{% load product_helper_tags %}
{% block header-content %}
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
{% endblock %}


{% block content %}

<div class="container">

    <div class="row filters" >

        <div id="filters" class="filters-container">
            <form action="{% url 'products' %}" method="GET" >
                <div id="cat-form" class="form-row">
                    <div class="form-group col-12">
                        <label for="name-or-location-contains">Search</label>
                        <input placeholder="Name or Location" class="form-control" type="search"
                            name="name-or-location-contains" id="name-or-location-contains">
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                        <label for="category-filter">Category</label>
                        <select class="form-control" name="category-filter" id="category-filter">
                            <option disabled value="" selected>Categories..</option>
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                        <label for="name-or-location-contains">Country</label>
                        <select class="form-control" name="country" id="country">
                            <option value="" disabled selected>Country</option>
                            {% for country in countries %}
                            <option value="{{country.id}}">{{country.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                        <label for="name-or-location-contains">Sort By</label>
                        <select class="form-control" name="sort-by" id="sort-by">
                            <option value="" disabled selected>Sort By</option>
                            <option value="price-low">Price: Lowest</option>
                            <option value="price-high">Price: Highest</option>
                            <option value="likes">Most Popular</option>
                        </select>
                    </div>
                    <div class="dates form-group col-sm-12 col-md-6">
                        <label for="name-or-location-contains">Date</label>
                        <input type="text" name="datepicker" id="datepicker" autocomplete="off" placeholder="Choose a date"
                            class="form-control">
                    </div>
    
                    <div class="form-group col-sm-12">
                        <input type="submit" value="Search" class="btn btn-pale-prime">
                        <a class="btn btn-pale-prime" href="{% url 'products' %}">Reset</a>
                    </div>
                </div>
    
            </form>
        </div>

        <div class="filters-btn text-center col-12">
            <button id="show-filters" class="btn btn-outline-light btn-cta">Show Filters <i class="fas fa-sort"></i></button>
        </div>
    </div>

    <hr>

    {% if items %}
    <div class="row">
        <div class="col-12">
            {% for item in items %}
            <div class="card">
                <div style="background-image: url('{{ MEDIA_URL }}{{ item.images }}')" class="card-top-img"></div>
                <div class="card-body">
                    <div class="row card-top">
                        <div class="col-sm-12 card-head">
                            <h5 class="card-title">{{item.name}}</h5>
                        </div>
                        <div class="col-sm-12 card-head">
                            <span class="card-location">{{item.location}}</span>
                            <span class="card-location">, {{item.country}}</span>
                        </div>
                        <div class="col-sm-12 card-head">
                            <span class="">{{item.start_date}}</span>
                            {% if item.end_date %}
                            <span class=""> - {{item.end_date}}</span>
                            {% endif %}
                        </div>
                        <div class="col-12 card-head"> <span class="likes-text"> Likes </span>  <i class="fas fa-thumbs-up blue"></i> : {{ item.likes }}</div>
                    </div>
                    <div class="row card-mid">
                        <p class="card-text">{{item.snippet}}</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'product_detail' item.id %}" class="btn btn-pale-prime btn-card">View</a>
                        </div>
                        <div class="col-6 card-right text-right">
                            <span class="card-price">£{{item.price}} pp</span> 
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}


        </div>
    </div>
    <div class="row">
            {% include "product-pagination.html" %}
    </div>
    {% else %}

    <div class="heading no-items text-center">
        <h5>No results found</h5>
    </div>

    {% endif %}
</div>




{% endblock %}

{% block scripts %}
<script src="{% static 'js/modules/datepicker.js' %}"></script>
<script src="{% static 'js/pages/products.js' %}"></script>
{% endblock %}