{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}

<div class="container product">
    <div class="row">
        <div class="col-12 image-container">
            <div style="background-image: url('{{ MEDIA_URL }}{{ product.images }}')" class="card-top-img" alt="...">
            </div>
        </div>
    </div>

    <div class="row card-top">
        <div class="col-sm-12 card-head">
            <h5 class="card-title">{{product.name}}</h5>
        </div>
        <div class="col-sm-12 card-head">
            <span class="card-location">{{product.location}}</span>
            <span class="card-location">, {{product.country}}</span>
        </div>
        <div class="col-sm-12 card-head">
            <span class="">{{product.start_date}}</span>
            {% if product.end_date %}
            <span class=""> - {{product.end_date}}</span>
            {% endif %}
        </div>
        <div class="col-6 card-head"> Likes <i class="fas fa-thumbs-up"></i> : {{ product.likes }}</div>

    </div>

    <div class="row">
        <div class="col-12 card-description">
            <div id="snippet">
                {{product.snippet}}
            </div>
            <div id="full-description" class="hidden">
                {{product.description}}
            </div>
            <div class="text-center">
                <button id="read-more" class="btn btn-pale-prime" data-state="more">Read More</button>
            </div>
        </div>
    </div>
    <div class="row product-add">
        <div class="col-12">
            <form method="POST" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="form-row text-center">
                        <div class="form-group col-12">
                            <label for="quantity">Quantity</label>
                            <input name="quantity" type="number" value="1" min="1" max="999" class="form-control quantity"
                                placeholder="Quantity">
                        </div>
                        <div class="form-group col-12">
                            <label></label>
                            <input type="submit" class="btn btn-pale-prime" value="Add to cart">
                        </div>
                </div>

            </form>
        </div>

    </div>

    <hr class="divider">

    {% if product.latitude and product.longitude %}

    <div class="heading text-center">
        <h4>Location</h4>
    </div>

    <div id="location-map" style="min-height: 360px; margin-bottom: 10%;" data-lat="{{product.latitude}}"
        data-long="{{product.longitude}}">

    </div>

    <hr class="divider">
    {% endif %}

    {% if comments %}

    <div class="heading text-center">
        <h4>Recent Comments</h4>
    </div>

    {% for comment in comments %}

    <div class="card card-comment">
        <div class="row header">
            <div class="col-6">
                {{comment.user_id.username}}
            </div>

            <div class="col-6">
                {{comment.post_date}}
            </div>

            {% if comment.like %}
            <div class="col-6">
                Liked <i class="fas fa-thumbs-up blue"></i>
            </div>
            {% endif %}
        </div>


        <div class="row card-body">
            <div class="col-12 text-center">
                <h5>{{comment.title}}</h5>
            </div>
            <div class="col-12">
                {{comment.comment}}
            </div>
        </div>
    </div>

    {% endfor %}

    {% endif %}

    {% if user.is_authenticated %}

    <div class="heading text-center">
        <h4>Leave a comment</h4>
    </div>

    <div class="card card-create">
        <div class="card-body row">
            <form method="POST" action="{% url 'create_comment' product.id %}">
                <fieldset class="form-group">
                    
                    {% csrf_token %}
                    {{  comment_form | as_bootstrap }}
                    
                </fieldset>
                <div class="like-btn">
                    Like this trip! <i id="like-button" class="fas fa-thumbs-up" data-state="unliked"></i>
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
                
                
            </form>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}

{% block scripts %}
{% if product.latitude and product.longitude %}
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDHHyac2SiOYPNYxXMK7rqJjnB8nCaaxE&callback=initMap"></script>
{% endif %}
<script src="{% static 'js/pages/product-detail.js' %}"></script>
{% endblock %}