{% extends 'base.html' %}
{% load static %}
{% load product_helper_tags %}
{% block header-content %}
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
{% endblock %}


{% block content %}

<div class="container">

    <div class="row filters">
        <form action="{% url 'products' %}" method="GET">
            <div id="cat-form" class="form-row">
                <div class="form-group col-12">
                    <label for="name-or-location-contains">Search</label>
                    <input placeholder="Name or Location" class="form-control" type="search"
                        name="name-or-location-contains" id="name-or-location-contains">
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="category-filter">Category</label>
                    <select class="form-control" placeholder="Category" name="category-filter" id="category-filter">
                        <option value="" selected>Categories..</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="name-or-location-contains">Country</label>
                    <select class="form-control" placeholder="Country" name="country" id="country">
                        <option value="" selected>Country</option>
                        {% for country in countries %}
                        <option value="{{country.id}}">{{country.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="name-or-location-contains">Sort By</label>
                    <select class="form-control" placeholder="Sort By" name="sort-by" id="sort-by">
                        <option value="" selected>Sort By</option>
                        <option value="price-low">Price: Lowest</option>
                        <option value="price-high">Price: Highest</option>
                    </select>
                </div>
                <div class="dates form-group col-sm-12 col-md-6">
                    <label for="name-or-location-contains">Date</label>
                    <input type="text" name="datepicker" id="datepicker" autocomplete="off" placeholder="Choose a date"
                        class="form-control">
                </div>

                <div class="form-group col-sm-12">
                    <input type="submit" value="Search" class="btn btn-pale-orange">
                    <button type="button" class="btn btn-pale-orange"><a href="{% url 'products' %}">Reset</a></button>
                </div>
            </div>

        </form>
    </div>

    <hr>
    <div class="row">
        <div class="col-12">
            {% for item in items %}
            <div class="card">
                <div style="background-image: url('{{ MEDIA_URL }}{{ item.images }}')" class="card-top-img"></div>
                <div class="card-body">
                    <div class="row card-top">
                        <div class="col-sm-12 card-head">
                            <h5 class="card-title">{{item.name}}</h5>
                        </div>
                        <div class="col-sm-12 card-head">
                            <span class="card-location">{{item.location}}</span>
                            <span class="card-location">, {{item.country}}</span>
                        </div>
                        <div class="col-sm-12 card-head">
                            <span class="">{{item.start_date}}</span>
                            {% if item.end_date %}
                            <span class=""> - {{item.end_date}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row card-mid">
                        <p class="card-text">{{item.snippet}}</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'product_detail' item.id %}" class="btn btn-pale-orange btn-card">View</a>
                        </div>
                        <div class="col-6 card-right">
                            <span class="card-price">£{{item.price}} pp</span> 
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}

            {% include "product-pagination.html" %}

        </div>
    </div>
</div>




{% endblock %}

{% block scripts %}
<script src="{% static 'js/modules/datepicker.js' %}"></script>
<script src="{% static 'js/pages/products.js' %}"></script>
{% endblock %}