{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="" style="background-image: url('{{ MEDIA_URL }}{{ product.images }}')" class="card-img-top"
                alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>{{product.name}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">{{product.location}}</div>
        <div class="col-6">{{product.country}}</div>
    </div>
    <div class="row">
        <div class="col-12">
            {{product.start_date}} {% if product.end_date %} - {{product.end_date}} {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{product.description}}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="POST" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <div class="form-group col-6">
                        <label for="quantity">Quantity</label>
                        <input name="quantity" type="number" value="1" min="1" max="999" class="form-control" placeholder="Quantity">
                    </div>
                </div>
                
                <div class="col-6">
                    {{product.price}}
                </div>
                <div class="input-group form-group col-12">
                    <input type="submit" value="add to cart" >
                </div>

            </form>
        </div>

    </div>

    <hr>

    {% if product.latitude and product.longitude %}

    <div id="location-map" style="min-height: 360px; margin-bottom: 10%;" data-lat="{{product.latitude}}" data-long="{{product.longitude}}">

    </div>
    {% endif %}

    {% if comments %}

    {% for comment in comments %}

    <div class="card">
        <div class="row">
            <div class="col-6">
                {{comment.name}}
            </div>

            <div class="col-6">
                {{comment.post_date}}
            </div>
        </div>

        <div class="row card-body">
            <div class="col-12">
                {{comment.comment}}
            </div>
        </div>
    </div>

    {% endfor %}

    {% endif %}

    <div class="card">
        <div class="card-body row">
            <form method="POST" action="{% url 'create_comment' product.id %}" class="accountform">
                <fieldset class="form-group">
                    {% csrf_token %}
                    {{  comment_form | as_bootstrap }}
                    <button type="submit" class="btn btn-primary">Post</button>
                </fieldset>
            </form>
        </div>
    </div>

    

</div>
<!-- 
    <form id="comment-form" action="{% url 'create_comment' product.id %}" method="POST">
        <div class="form-row">
            <div class="form-group col-12">
                <label for="comment-name">Name</label>
                <input placeholder="Name" type="text" name="comment-name" id="comment-name">
            </div>
            <div class="form-group col-12">
                <label for="comment-message">Message</label>
                <input placeholder="Leave a message" type="text" name="comment-message" id="comment-message">
            </div>
            <div class="form-group col-12">
                <input type="submit" value="Post">
            </div>
        </div>
    </form> -->

    {% endblock %}

{% block scripts %}
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDHHyac2SiOYPNYxXMK7rqJjnB8nCaaxE&callback=initMap"></script>
<script src="{% static 'js/pages/product-detail.js' %}"></script>
{% endblock %}