/*global*/
body {
  background-color: #ffffff;
}

/*Navbar*/
.navbar-trips {
  background-color: #fdf7ff;
  border-bottom: 1px solid #f9eef9;
}

.navbar-toggler {
  border: 1px solid #4a3d3d66;
}

.navbar-brand {
  font-weight: 500;
}

.navbar a {
  color: #c3bbbb;
}

/*Footer*/
.page-footer {
  margin-top: 4%;
  padding: 1%;
  background-color: #fffcde;
  border-top: 1px solid #fff4cb;
}

.page-footer a {
  color: #212529;
}

.page-footer .footer-list {
  list-style: none;
  padding-left: 0;
}

.page-footer .footer-list li a {
  color: #212529;
}

/*Buttons*/
.btn {
  border-radius: 5px;
  font-weight: 400;
}

.btn a {
  font-weight: 400;
}

.btn-pale-orange {
  background-color: #ffc49e;
  border: 1px solid #ffa367;
  color: #ffffff;
}

.btn-pale-orange a {
  color: #ffffff;
}

.btn-pale-orange:hover {
  background-color: #f5ad7e;
}

.btn-pale-pink {
  background-color: #EF5D60;
  border: 1px solid #EF5D60;
  color: #ffffff;
}

.btn-pale-pink a {
  color: #ffffff;
}

.btn-pale-pink:hover {
  background-color: #f5ad7e;
}

.btn-card {
  width: 8rem;
  font-weight: 500;
}

.btn-btm-container {
  margin-bottom: 12%;
}

/*Headings*/
.heading {
  margin-bottom: 10%;
}

@media only screen and (min-width: 1400px) {
  .heading {
    margin-bottom: 3%;
  }
}

/*dividers*/
.divider {
  margin-top: 6%;
  margin-bottom: 6%;
  width: 75%;
}

@media only screen and (min-width: 1400px) {
  .divider {
    margin-top: 3%;
    margin-bottom: 3%;
  }
}

/*Module Imports*/
.card {
  margin: 10% auto;
  width: 20rem;
}

@media only screen and (min-width: 900px) {
  .card--cart {
    margin: 4% auto;
  }
}

@media only screen and (min-width: 900px) {
  .card {
    width: 47rem;
  }
}

.card-top {
  margin-bottom: 8%;
}

@media only screen and (min-width: 900px) {
  .card-top {
    margin-bottom: 2%;
  }
}

.card-top-img {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 16rem;
}

.card-mid {
  margin-bottom: 8%;
}

@media only screen and (min-width: 900px) {
  .card-mid {
    margin-bottom: 4%;
  }
}

.card-head {
  padding-left: 0;
}

.card-head span {
  font-size: 0.9rem;
  font-weight: 540;
}

.card-title {
  margin-bottom: 1%;
}

.card-text {
  line-height: 24px;
  word-wrap: break-word;
}

.card-location {
  padding: 0;
  text-transform: capitalize;
}

.card-price {
  font-size: 1.3rem;
  font-weight: 500;
}

@media only screen and (min-width: 1400px) {
  .card-right {
    text-align: right;
  }
}

.card-comment {
  border: 1px solid #a59b9b;
  border-radius: 20px;
  padding: 4%;
  margin-top: 4%;
}

.card-comment .header {
  font-weight: 500;
}

.card-comment .blue {
  color: #5895d2;
  margin-top: 5%;
  margin-left: 5%;
}

.card form {
  border: 1px solid #a59b9b;
  border-radius: 20px;
  padding: 4%;
}

.card form label {
  font-weight: 500;
}

.card-create {
  border: none !important;
}

.card-create form {
  margin-left: auto;
  margin-right: auto;
}

.card-create .like-btn {
  display: block;
  margin-bottom: 10%;
  font-weight: 500;
}

.card-create .like-btn i {
  font-size: 2rem;
  margin-left: 2%;
}

.card-create .like-btn i:hover {
  color: #91b6da;
}

.card-create .like-btn i.liked {
  color: #5895d2;
}

.card-create .checkbox {
  display: none;
}

.card .item {
  margin-bottom: 10%;
  font-weight: 500;
  font-size: 1rem;
}

@media only screen and (min-width: 1400px) {
  .card .item {
    padding: 4%;
    margin-bottom: 0;
  }
}

.card .item .form-container {
  margin-top: 7%;
}

@media only screen and (min-width: 1400px) {
  .card .item .form-container {
    margin-top: 3%;
  }
}

.card .item .form-container form {
  padding: 8%;
}

@media only screen and (min-width: 1400px) {
  .card .item .form-container form {
    width: 38%;
    padding: 2%;
  }
}

.card .item .form-container form input {
  margin: 0 10% 0 3%;
  width: 10%;
}

.card .item .form-container form button {
  margin-left: 10%;
}

.card .item-price {
  font-size: 1.2rem;
}

.card .item-amount {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin-right: 5%;
}

.cart-btn {
  margin-bottom: 6%;
  width: 12rem;
  height: 3rem;
}

@media only screen and (min-width: 1400px) {
  .cart-btn {
    margin-bottom: 1%;
  }
}

.pagination-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination-set #pagination {
  margin-left: auto;
  margin-right: auto;
}

.pagination .page-item.active .page-link {
  background-color: #ffc49e;
  border: 1px solid #ffa367;
  color: white;
}

.pagination .page-item.disabled .page-link {
  color: #9c9797;
}

.pagination .page-item .page-link {
  color: black;
}

.pagination .page-item .page-link:hover {
  background-color: #ffdfca;
}

/*Page imports*/
.carousel-inner {
  max-height: 75vh;
}

.carousel-item {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.carousel-item img {
  height: auto;
}

.categories .header {
  margin: 6% 0;
}

.categories .category {
  width: 80%;
  height: 47VW;
  margin: 5% auto;
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 900px) {
  .categories .category {
    height: initial;
  }
}

.categories .category picture {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}

.categories .category picture img {
  max-width: 100%;
  max-height: 100%;
}

.categories .category-text {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #ffffff;
  font-size: 2.6rem;
  font-weight: 500;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  text-shadow: 2px 4px 6px black;
}

.about h4 {
  margin-bottom: 10%;
}

.about-text {
  line-height: 21px;
}

.filters form {
  margin: 0 auto;
}

.filters #cat-form {
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
}

.filters #cat-form .form-group label {
  font-weight: 500;
}

.product .image-container {
  height: 20rem;
  padding: 0;
  margin-bottom: 4%;
}

@media only screen and (min-width: 1400px) {
  .product .image-container {
    height: 30rem;
  }
}

.product .image-container .card-top-img {
  height: 100%;
}

.product .card-top {
  padding: 3%;
}

.product .card-title {
  margin-bottom: 1%;
  font-size: 2rem;
}

.product .card-head {
  font-size: 1.2rem;
}

.product .card-head span {
  font-size: 1.2rem;
}

.product .card-head i {
  color: #5895d2;
  line-height: 2rem;
}

.product .card-description button {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12%;
}

.product-add {
  margin-bottom: 10%;
}

.product-add form {
  border: 1px solid #a59b9b;
  border-radius: 20px;
}

@media only screen and (min-width: 1400px) {
  .product-add form {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
  }
}

.product-add form .form-control.quantity {
  width: 14%;
  margin-left: auto;
  margin-right: auto;
}

.product .divider {
  margin-bottom: 10%;
}

.product .hidden {
  display: none;
}

@media only screen and (min-width: 900px) {
  #payment-form .form-fields {
    padding: 0% 2%;
  }
}
/*# sourceMappingURL=style.css.map */