{% extends 'base.html' %}
{% block content %}

<div class="row">
    

    <div class="col-12">
        <div class="heading text-center">
            <h4>Order History</h4>
        </div>

        {% if orders %}
        {% for order in orders %}
        <div class="card card-order">
            <div class="card-body">
                <h3 class="card-title">Order Id: {{order.id}}</h3>
                <div class="row">
                    <div class="col-12">
                        <span class="card-title">Order Date: </span>{{order.order_date}}
                    </div>
                    
                </div>
                {% for item in line_items %}

                {% if item.order.id == order.id %}
                <div class="row item">
                    <div class="col-6">
                        {{item.product.name}}
                    </div>
                    <div class="col-6 text-right">
                        <span class="item-price">£{{item.product.price}}</span>
                    </div>
                    <div class="col-12 form-container">
                        {% csrf_token %}
                        <div class="form-group text-center row">
                            <div class="col-6">
                                <label class="sr-only">New Qty</label>
                                <div class="input-group">
                                    <span class="item-amount">{{item.quantity}}</span>
                                    <p>Amount</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <hr class="divider">
                {% endif %}
                {% endfor %}

            </div>
            <div class="heading text-right">
                <h5>Total: £{{order.order_total}}</h5>
            </div>
        </div>
        
        {% endfor %}
        {% else if %}

        <div class="heading text-center">
            <h5>You have not placed any orders</h5>
        </div>

        {% endif %}
        
    </div>
</div>


{% endblock %}