@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    color: #505962;
}

/*Navbar*/
.navbar {
    &-trips {
        background-color: #2d3c50;
        border-bottom: 1px solid #2d3c50;
    }

    &-toggler {
        border: 1px solid #4a3d3d66;
    }

    &-brand {
        font-weight: 400;
        letter-spacing: 3px;
    }
    
    .nav-item {
        a.nav-link {
                color: rgba(255, 255, 255, 0.8);

            &:hover {
                color: rgba(255, 255, 255, 1);
            }

        }
    }

    a {
        color: rgba(255, 255, 255, 0.8);

    }

    .badge {
        &-alert {
            color: #212529;
            background-color: #ffe085;
        }
    }
}

/*Footer*/
.page-footer {
    margin-top: 4%;
    padding: 4% 2% 6%;
    background-color: #37475d;
    border-top: 1px solid #37475d;
    color: #e0dddd;

    h5 {
        color: #fff;
        letter-spacing: 1px; 
        font-weight: 700;
    }

    a {
        color: #e0dddd;
    }


    .footer-list {
        list-style: none;
        padding-left: 0;

        li {

            a {
                color: #e0dddd;
            }
        }
    }
}

/*Buttons*/
.btn {

    border-radius: 5px;
    font-weight: 700;

    a {
        font-weight: 400;
    }

    &-pale {


        &-prime {
            background-color: #7EBDC3;
            border: 1px solid #7EBDC3;
            color: #ffffff;

            a {
                color: #ffffff;

            }
        }

        &-prime:hover {
            background-color: #5aadb5;
            color: #ffffff;
            text-decoration: none;

            a {
                color: #ffffff;
                text-decoration: none;

            }

        }

        &-second {
            background-color: #689c6e;
            border: 1px solid #689c6e;
            color: #ffffff;

            a {
                color: #ffffff;

            }
        }

        &-second:hover {
            background-color: #4f7554;
            color: #ffffff;

            a {
                color: #ffffff;

            }

        }

    }

    &-card {
        width: 100%;
        font-weight: 500;

        @include media(small) {
            width: 8rem;
        }
    }


    &-btm {

        &-container {
            margin-bottom: 12%;
        }

    }

    &-cta {
        margin: 8% 2%;
        font-weight: 700;
        color: #7EBDC3;
        border: 2px solid #7EBDC3;
        width: 40%;

        @include media(small) {
            margin: 2% 1%;
            width: 26%;
        }

        @include media(medium) {
            margin: 2% 1%;
            width: 15%;
        }

        @include media(large) {
            margin: 2% 1%;
            width: 9%;
        }

        &:hover{
            color: #fff;
            background-color: #7EBDC3;
            border-color: #7EBDC3;
        }

        &--alt {
            background-color: #7EBDC3;
            border-color: #7EBDC3;
            color: #fff;

            &:hover {
                background-color: transparent;
                border-color: #7EBDC3;
                color: #7EBDC3;
            }
        }
    }

    
}

/*Headings*/
.heading {
    margin-top: 3%;
    margin-bottom: 10%;
    text-transform: uppercase;

    @include media(large) {
        margin-bottom: 3%;
    }

    &.no-items {
        margin-top: 50%;
        margin-bottom: 50%;

        @include media(large) {
            margin-top: 14%;
            margin-bottom: 14%;
        }
    }
}

/*dividers*/

.divider {
    margin-top: 6%;
    margin-bottom: 6%;
    width: 75%;

    @include media(large) {
        margin-top: 3%;
        margin-bottom: 3%;
    }

  
}

/*errors*/
.error {
    &-list {
        list-style: none;
        padding-left: 0;
        li {
            color: #ff3333;
            margin-bottom: 2%;
            
            span {
                text-transform: capitalize;
            }
        }
    }
}

form {
    span.error-msg {
        color: #ff3333;
    }
}

.full-field {
    input {
        width: 100% !important;
    }
    
}