body {
    background-color: #f7f4f4;
}

/*Footer*/
.page-footer {
    margin-top: 4%;
    padding: 1%;
    background-color: #f9dfa9;

    a {
        color: #212529;
    }


    .footer-list {
        list-style: none;
        padding-left: 0;
        
        li {

            a {
                color: #212529;
            }
        }
    }
}

/*Buttons*/
.btn {
    &-pale {
        &-pink{
            background-color: #ff9494;
            border: 1px solid #ff9494;
            color: #ffffff;
            font-weight: 400;

            a {
                color: #ffffff;
                font-weight: 400;
            }
        }
    }

    &-card {
        color: #3c3c3c;
        background-color: #ffffa1;
        border-color: #fcfdff;
        width: 8rem;
        font-weight: 500;
    }
}

/*Headings*/
