body {
    background-color: #ffffff;
}

/*Navbar*/
.navbar {
    &-trips {
        background-color: #fdf7ff;
        border-bottom: 1px solid #f9eef9;
    }

    &-toggler {
        border: 1px solid #4a3d3d66;

        // &-icon {
            
        // }
    }

    &-brand {
        font-weight: 500;
    }

    a { 
        color: #c3bbbb;
        
    }
}

/*Footer*/
.page-footer {
    margin-top: 4%;
    padding: 1%;
    background-color: #fffcde;
    border-top: 1px solid #fff4cb;

    a {
        color: #212529;
    }


    .footer-list {
        list-style: none;
        padding-left: 0;
        
        li {

            a {
                color: #212529;
            }
        }
    }
}

/*Buttons*/
.btn {
    &-pale {
        &-orange{
            background-color: #ffc49e;
            border: 1px solid #ffa367;
            color: #ffffff;
            font-weight: 400;

            a {
                color: #ffffff;
                font-weight: 400;
            }
        }
    }

    &-card {
        //color: #3c3c3c;
        //@warn: #ffffa1;
        //border-color: #fcfdff;
        width: 8rem;
        font-weight: 500;
    }
}

/*Headings*/
.heading {
    margin-bottom: 10%;

    @include media(large){
        margin-bottom: 3%;
       }
}